### PowerShell ###
# Exclude packaged modules
*.zip
TestResults/

# Exclude .NET assemblies from source
*.dll

# Crestron Specific
*.bak
SPlsWork/
*.ush
*.lpz*
*.smft
*.sm2
*.um2
*Crosspoint*
*.ASV
*.sig

# git guardian
.cache_ggshield
